
<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<%- include ../partials/welcome_message.ejs %>
  

  <!-- Main Content -->
  <main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            

            <% if(typeof displayName == 'string' && displayName) { %>
                <a href="/business_contacts-list/add" class="btn btn-primary" role="button">
                <i class="fas fa-plus-circle"></i> Add a Contact</a><br>
            <% } %>
            <br>
            <table class="table table-bordered table-striped table-hover">
                <!-- Header Row-->
                <tr class="d-flex">
                    <% if(typeof displayName == 'string' && displayName) { %>
                        <th class="text-center col-2">Name</th>
                        <th class="text-center col-3">Contact Number</th>
                        <th class="text-center col-3">Email</th>
                        <th class="text-center col-2"></th>
                        <th class="text-center col-2"></th>

                    <% } else { %>
                        <th class="text-center col-4">Name</th>
                        <th class="text-center col-4">Contact Number</th>
                        <th class="text-center col-4">Email</th>
                        
                    <% } %>
                </tr>

                <!-- Repeated Template Row -->
                <% for(let count = 0; count < ContactList.length; count++) {%>
                    <tr class="d-flex">
                        <% if(typeof displayName == 'string' && displayName) { %>
                            <td class="text-center col-2"><%= ContactList[count].name %></td>
                            <td class="text-center col-3"><%= ContactList[count].number %></td>
                            <td class="text-center col-3"><%= ContactList[count].email %></td>
              



                            <td class="text-center col-2">
                                <a href="/business_contacts-list/edit/<%= ContactList[count]._id %>" class="btn btn-primary btn-sm">
                                <i class="fas fa-pencil-alt"></i>Update</a>
                            </td>
                            <td class="text-center col-2">
                                <a href="/business_contacts-list/delete/<%= ContactList[count]._id %>" class="btn btn-danger btn-sm">
                                <i class="fas fa-trash-alt"></i> Delete</a>
                            </td>
                        <% } else { %>
                            <td class="text-center col-4"><%= ContactList[count].name %></td>
                            <td class="text-center col-4"><%= ContactList[count].number %></td>
                            <td class="text-center col-4"><%= ContactList[count].email %></td>
                            
                        <% } %>
                    </tr>
                <% } %>
            </table>
        </div>
    </div>
  </main>


<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
 

  

