
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>




    <!-- Main Content -->
    <main>
      <main class="container">
        <div class="row">
           <div class="col">
              <div class="jumbotron">
                 <h1 class="display-7"><%= title %></h1>
              </div>
           </div>
        </div>
           <div class="row">
             <div class="col">
               <p class="display-10">Welcome to <%= title %> </p>
               <hr class="my-4">
             </div>
          </div>  

          <strong><p><li class="list-group-item">No Notifications</li></p></strong>
         <ul> </ul>
        
        
    </main>


    



<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>






