<!--Header-->
<%- include partials/header.ejs %>

    <!--Main Navigation-->
    <%- include partials/main_nav.ejs %>

        <!--Welcome Message -->
        <%- include partials/welcome_message.ejs %>


            <form>
                <div class="row">
                    <div class="col">

                        <img src="Assets/images/florance.jpg" alt="florance Picture">

                    </div>

                    <!-- About Me-->
                    <div class="col">
                        <p> My name is Florance and I am a junior software developer that designs, develops and tests software and applications for computers.I am in my third semester now, and I have three semesters to go. Thanks for reading.
                        </p>
                        <!-- My resume file pdf-->
                        <p>Here you can find my resume: <a href="Assets/images/FloranceFloreanuResume(11).pdf">Click</a></p>
                    </div>
                </div>

            </form>



            <!--Bottom-->
            <%- include partials/bottom_nav.ejs %>

                <!--Footer-->
                <%- include partials/footer.ejs %>