
<!--Header-->
<%- include partials/header.ejs %>

<!--Main Navigation-->
<%- include partials/main_nav.ejs %>

<!--Welcome Message -->
<%- include partials/welcome_message.ejs %>


<!-- My Projects Bar-->
<li class="list-group-item">My Projects</li><br>


<!--Images and descriptions of my project-->
<ul  class="image-group" >
    <div class="row">
        
        <div class="col1" class="networking-image">
 
            <p>
             Project 1
            </p><br>

               <p align=left>This is a GUI project that I did in Python.<br>
                  In Networking for Software Developer<br>course. Using Visual
                  Studio Code.<br>Basically, I created a form for a college <br> 
                  that a user can fill it and it will pop up <br>the outcome.<br>
               </p>    
         </div>

         <div class="col1">
      
            <p> Project 2</p><br>       

               <p align=left>This is Oracle SQL "City Jail Project".<br>
                    Using sub queries for a big data to<br>
                    get specifec results. 
               </p>
         </div>

         <div class="col1">
            
            <p>Project 3</p><br>

            <p align=left>This is Java project I was in charge.<br>
            doing a overloading method in the <br> project.</p>
         </div>
   </div>
</ul><br> 


<!--Bottom-->
<%- include partials/bottom_nav.ejs %>

<!--Footer-->
<%- include partials/footer.ejs %>