


<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>

<%- include partials/welcome_message_jumbotron.ejs %>


<li class="list-group-item">My Services</li>



<ul class="list-group">
    <li class="list-group-item">Web application development.</li>
    <li class="list-group-item">Social media apps.</li>
    <li class="list-group-item">QA and software testing.</li>
    <li class="list-group-item">Application modernization.</li>

  </ul>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>