<%- include ../partials/header.ejs %>

    <%- include ../partials/main_nav.ejs %>


        <div className="management__page__main__container">
            <div className="management__head__section">
                <h2>List of tickets</h2>
            </div>
            <table className='ticketsList'>
                <thead>
                    <tr>
                        <td>#</td>
                        <td>title</td>
                        <td>status</td>
                        <td>actions</td>
                    </tr>
                </thead>
                <tbody>


                    <% if(items.length){ for(var i=0;i < items.length;i++) { %>
                        <tr className={member.status}>
                            <td>
                                <%=i+1%>
                            </td>
                            <td>
                                <%=items[i].title%>
                            </td>
                            <td>
                                <%=items[i].status%>
                            </td>
                            <td className='action'>
                                <a href='/ticket/reply?id=<%=items[i].id%>'>
                                   Reply
                                </a>
                            </td>
                        </tr>
                        </tr>
                        <% } } %>
                </tbody>
            </table>
        </div>




        <%- include ../partials/bottom_nav.ejs %>

            <%- include ../partials/footer.ejs %>