<%- include ../partials/header.ejs %>

  <%- include ../partials/main_nav.ejs %>

    <% if(typeof item !='object' ) item={} %>



      <!-- Main Content -->
      <main>
        <main class="container">
          <div class="row">
            <div class="col">
              <div class="jumbotron">
                <h1 class="display-7">
                  <%= title %>
                </h1>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <p class="display-10">Welcome to <%= title %>
              </p>
              <hr class="my-4">
            </div>
          </div>

          <form method="post">

            <div class="form-group">
              <input type="input" name="title" value="<%=item.title%>" id="title" class="form-control"
                placeholder="Title"></div></br>
                <input type="input" name="name" value="<%=item.name%>" id="name" class="form-control"
                placeholder="Name">
              <!--Here user can input email address-->
            </div><br>

            <% if(items.length){ for(var i=0;i < items.length;i++) { %>
              Replies : <br/>
              <div className='historyContainer'>
                  <label className='date'>
                      <%=items[i].createdate%>
                  </label>
                  <label className='desc'>
                      <%=items[i].description%>
                  </label>
              </div>
              <% } } %>



            <% if (item.id) { %>
              <h4><small>Problem : </small><%=item.description%></h4>
              <div class="form-group">
                <textarea name="description" id="description" class="form-control" placeholder="Type your reply here"
                  cols="30" rows="8"></textarea>
                <!--Here user can input Text Area-->
              </div><br>

              <% }else { %>
                <div class="form-group">
                  <textarea name="description" id="description" class="form-control"
                    placeholder="Type your message here" cols="30" rows="8"><%=item.description%></textarea>
                  <!--Here user can input Text Area-->
                </div><br>
                <% } %>
                  <div class="text-first mt-6">
                    <button id="loginButton" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i>
                      Submit</button><a href="/thankyou"></a>
                    <a href="/tickets" class="btn btn-warning"><i class="fas fa-undo"></i>
                      Cancel</a>
                  </div>
          </form><br>

        </main>





        <%- include ../partials/bottom_nav.ejs %>

          <%- include ../partials/footer.ejs %>