<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>




    <!-- Main Content -->
    <main>
      <main class="container">
        <div class="row">
           <div class="col">
              <div class="jumbotron">
                 <h1 class="display-7"><%= title %></h1>
              </div>
           </div>
        </div>
           <div class="row">
             <div class="col">
               <p class="display-10">Welcome to <%= title %> </p>
               <hr class="my-4">
             </div>
          </div>  
    

    <!-- Government ID's Bar-->
    <strong><p><li class="list-group-item">Government ID's</li></p></strong>


    <ul  class="image-group">
        <div class="col">

            <strong><p><li class="list-group-item">Driving Licence</li></p></strong>

            <div class="col1" class="net-image">
                <img src="Assets/images/driving-licence-small.png" id="Driving_Licence_Image" alt="Driving Licence Image">
                <a href="Assets/images/driving-licence.jpg"><br>Large Image</a><br><br>
            </div><br>


            <strong><p><li class="list-group-item">Health Card</li></p></strong>

            <div class="col1">
                <img src="Assets/images/ontario-healthcard-small.png" id="Ontario_Healthcard"  alt="Ontario HealthCard Image">
                <a href="Assets/images/ontario-healthcard.jpg"><br>Large Image</a><br><br>   
            </div><br>


            <strong><p><li class="list-group-item">Ontario ID</li></p></strong>

            <div class="col1">
                <img src="Assets/images/ontario-id-small.png" id="Ontario_Id_image"  alt="Ontario ID Image">
                <a href="Assets/images/ontario-id.jpg"><br>Large Image</a><br><br>      
            </div><br>

            <strong><p><li class="list-group-item">Passport</li></p></strong>

            <div class="col1">
                <img src="Assets/images/passport-canada-small.jpg" id="Passport_Canada_image"  alt="Passport Canada Image">
                <a href="Assets/images/passport-canada.jpg"><br>Large Image</a><br><br>      
            </div>
    </div>
    </ul><br> 


    </main>


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>






