
<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>


    <!-- Main Content -->
    <main>
      <main class="container">
        <div class="row">
           <div class="col">
              <div class="jumbotron">
                 <h1 class="display-7"><%= title %></h1>
              </div>
           </div>
        </div>
           <div class="row">
             <div class="col">
               <p class="display-10">Welcome to <%= title %> </p>
               <hr class="my-4">
             </div>
          </div>  
   <form >
      <div class="row">
        <div class="col">
          <input type="text" id="firstName" class="form-control" placeholder="Name"> <!--Here user can input first name-->
        </div>
        <div class="col" class="from-group">
          <input type="text"  id="lastName" class="form-control" placeholder="Email">  <!--Here user can input last name-->
        </div> 
      </div><br> 

           <div class="row">
        <div class="col">
          <input type="text" id="firstName" class="form-control" placeholder="Current Password"> <!--Here user can input first name-->
        </div>
        <div class="col" class="from-group">
          <input type="text"  id="lastName" class="form-control" placeholder="New Password">  <!--Here user can input last name-->
        </div> 
      </div><br> 
      
      

      
        <div class="text-first mt-6">
                  <button id="loginButton" type="submit" class="btn btn-primary"><i class="fas fa-sign-in-alt"></i> Update</button>
                  <button id="cancelButton" type="reset" class="btn btn-warning"><i class="fas fa-undo"></i> Cancel</button>
        </div>
    </form><br>
  


<%- include partials/bottom_nav.ejs %>

<%- include partials/footer.ejs %>






