<%- include ../partials/header.ejs %>

    <%- include ../partials/main_nav.ejs %>

        <main class="container">
            <!-- Message Area -->
            <% if(messages.length> 0) {%>
                <div class="alert alert-danger">
                    <%= messages %>
                </div>
                <% } %><br>

                    <div class="row">
                        <div class="offset-md-3 col-md-6">
                            <h1>Please Register</h1><br>
                            <form method="POST" autocomplete="off">

                               <label>Email Address : <%= emailAddress %></label>


                                <fieldset class="form-group">
                                    <label for="emailVerification">Email Verification Code: </label>
                                    <input type="text" class="form-control" name="emailVerification"
                                        placeholder="Enter Email Verification Code" id="emailVerification" required>
                                </fieldset>


                                <fieldset class="form-group text-right">
                                    <input type="submit" class="btn btn-success" value="Register">
                                    <a href="/">
                                        <input type="button" class="btn btn-warning" value="Cancel">
                                    </a>
                                </fieldset>

                            </form>
                        </div>
                    </div>


        </main>





        <%- include ../partials/bottom_nav.ejs %>

            <%- include ../partials/footer.ejs %>