<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">
    <!-- Message Area -->
    <% if(messages.length > 0) {%>
        <div class="alert alert-danger">
            <%= messages %>
        </div>
    <% } %><br>

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Welcome to I-Wallet</h1><br>
            <h3>Please Login</h3>

            <form method="POST" autocomplete="off">
                <fieldset class="form-group">
                    <label for="username">Username: </label>
                    <input type="text" class="form-control"
                    name="username" placeholder="Enter username"
                    id="username" required autofocus>
                </fieldset><br>

                <fieldset class="form-group">
                    <label for="password">Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter password"
                    id="password" required>
                    or
                    <a href="/register">Register Here</a>
                    <br>
                    <a href="/forgetPassword">Forget password?</a>
                </fieldset><br>

                <fieldset class="form-group text-right">
                    <input type="submit" class="btn btn-success" value="Login">
                    <a href="/">
                        <input type="button" class="btn btn-warning" value="Cancel">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>

</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
