<%- include ../partials/header.ejs %>

<%- include ../partials/main_nav.ejs %>

<main class="container">

    <div class="row">
        <div class="offset-md-4 col-md-4">
            <h1>Welcome to I-Wallet</h1><br>
            <h3>Please enter your email</h3>

            <form method="POST" action="http://localhost:3000/users/recoverPassword">
                <fieldset class="form-group">
                    <label for="password">New Password: </label>
                    <input type="password" class="form-control"
                    name="password" placeholder="Enter your new password"
                    id="password" required autofocus>
                </fieldset><br>

                <fieldset class="form-group">
                    <label for="confirmPassword">Confirm Password: </label>
                    <input type="password" class="form-control"
                           name="confirmPassword" placeholder="Enter your new password to confirm"
                           id="confirmPassword" required autofocus>
                </fieldset><br>

                <fieldset style="display: none" class="form-group">
                    <label for="username">Confirm Password: </label>
                    <input type="text" class="form-control" name="id" value="<%=id%>">
                </fieldset><br>

                <fieldset class="form-group text-right">
                    <a href="/">
                        <input type="submit" class="btn btn-warning" value="Reset">
                    </a>
                </fieldset>

            </form>
        </div>
    </div>

</main>

<%- include ../partials/bottom_nav.ejs %>

<%- include ../partials/footer.ejs %>
